<!DOCTYPE html>
{%include "navbar.html" %}
<html>

<head>
    {% block navbar%}
    {% endblock %}
</head>

<body onload="checkDarkMode({{dark_mode}})">
    <div class="page">
        <!-- Display all todo items and lists on the front end, this will group by list -->
        <button class="btn btn-primary" style="margin: 10px; margin-top: 30px;"
            onclick="window.location.href='/addContact'">Add New Contact</button>
        {% for user in users_contacts %}
        <div style="border-radius: 15px;" class="todoListBox">
            <form action="/home" method="post">
                {{ update_contact.contactId(value=user.id, style="display:none") }}
                <h1 style="border-bottom: solid; border-width: 1px;">{{ update_contact.nickName(class="text-input",
                    value=user.nickName, onchange="Update(this)", style="border:none; text-align:center; max-width:
                    -webkit-fill-available;") }}</h1>
                <ul>
                    <li style="word-wrap: break-word; padding: 5px">
                        <b>Email:</b> {{ user.contact.email }}<br>
                        </li>
                    </ul>
                    {{update_contact.submitted(style="display:none")}}
                    </form>
                    <div style=" display: flex; justify-content: space-between; flex-direction: row;">
                    <form action="/home" method="POST">
                        {{ message_contact.contactId(value=user.contactId, style="display:none;") }}
                        {{ message_contact.submit(class="btn btn-primary") }}
                    </form>
                    <form action="/home" method="POST" >
                        <input type="hidden" value="True" name="isdelete">
                        <input type="hidden" name="deletedUserContactId" value="{{user.id}}">
                        <button name="button" type="submit" class="btn btn-danger"> <i class="bi bi-trash">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                              </svg>
                        
                        </i>Delete</button>
                    </form>
                </div>
                </div>
            {% endfor %}
            
        </div>
        {% endfor %}

    </div>

</body>
<script>
    function Update(item) {
        let header = item.parentNode;
        let form = header.parentNode;
        let list_element_items = form.childNodes;
        var submit_indicator;
        for (let i = 0; i < list_element_items.length; i++) {
            if (list_element_items[i].name == "submitted") {
                submit_indicator = list_element_items[i];
            }
        }
        submit_indicator.setAttribute("checked", "");
        form.submit();
    };
</script>

</html>