<!DOCTYPE html>
{%include "navbar.html" %}

<html>
  <head>
    {% block navbar%}
    {% endblock %}
  </head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <body>
        <!-- Form for login -->
        <div class="page">
            <div class="container mt-5">
              <h1 class="text-center mb-4">Login</h1>
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <form method="post">
                    {{ form.hidden_tag() }}
                    <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}
                    </p>
                    <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                    </p>
                    <p>
                    {{ form.submit(class="btn btn-primary") }}
                    <button class="btn btn-primary" onclick="window.location.href='/register'">Register</button>
                </p>
            </form>
        </div>
    </div>
    </body>
</html>