{% block navbar %}
<!-- Navbar is a crucial piece of the code and is included in almost every html file, this holds all common functionalities -->
        <title>{{ title }} - Gmail Clone</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            .page {
              padding-top: 50px;
            }
            .navbar {
              position: fixed !important;
              padding: 10px;
              background-color: white;
              padding-right: fit-content;
            }
            .container{
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              width: fit-content;
              height: fit-content;
              background-color: #ffffff;
            }
            #send-email-button {
              background-color: #76a2d1;
              border-color: #040404;
              margin: auto;
            }
            .todoListBox{
              border: solid;
              border-width: 1px;
              border-color: grey;
              width: fit-content;
              margin: 10px;
              padding: 10px;
            }
            .navbarBtn {
              margin-right: 3px;
              border-width: 1px;
              border-radius: 5px;
            }
            .curvedBtn {
              border-radius: 5px;
              margin: 10px;
            }
            .body {
              background-color: #222 !important;
              color: #eee !important;
            }

            .h1 {
              color: #fff !important;
            }

            .a {
              background-color: #222 !important;
              color: #999 !important;
              border-color: white !important;
            }
            .div {
              background-color: #222 !important;
              color: #eee !important;
              border-color: white !important;
            }
            .mo_di {
              background-color: white !important;
            }
            .text-input-dark {
              background-color: #222 !important;
              color: #eee !important;
            }
            .highlight-email-dark {
              background-color: black !important;
            }
            .highlight-email {
              background-color: lightblue !important;
            }
            .switch {
              position: relative;
              display: inline-block;
              width: 60px;
              height: 30px;
            }

            .switch input {
              opacity: 0;
              width: 0;
              height: 0;
            }

            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
              border-radius: 34px;
            }

            .slider:before {
              position: absolute;
              content: "";
              height: 26px;
              width: 26px;
              left: 4px;
              bottom: 2px;
              background-color: darkgray;
              -webkit-transition: .4s;
              transition: .4s;
              border-radius: 50%;
            }

            input:checked + .slider {
              background-color: #fff;
            }

            input:focus + .slider {
              box-shadow: 0 0 1px black ;
            }

            input:checked + .slider:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
            }

          </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title != "login" and title != "register" %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100" style="height: 50px;">
      <div style="justify-content: left;">
        <!-- Include the Bootstrap and Font Awesome CSS files -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    
      <!-- Add the email icon -->
      <i class="fas fa-envelope"  width="40" height="40" style="color: #fff;"></i>
      </div>
      <a class="navbar-brand" style="margin-left: 10px; color: #fff ;">Gmail Clone</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/home" >Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/emails">Emails</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/todo">Todo</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/settings" >Settings</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      <label style="font-weight: 500; margin-left: 10px;">Dark/Light Mode</label>
    </nav>
    {% endif %}
    <!-- This will display whatever alerts are sent from one page to another when navbar is included -->
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
  {% for category, message in messages %}
  {% if category == "error" %}
  <div id="alert_fail" class="alert alert-danger fade show sticky-top" role="alert" style="width:100%; position:absolute">
    {{ message }}
    <button type="button" onclick="hide(this)" class="navbarBtn" data-bs-dismiss="alert">&times;</button>
  </div>
  {% elif category == "success" %}
  <div id="alert_success" class="alert alert-success fade show sticky-top" role="alert" style="width:100%; position:absolute">
    {{ message }} 
    <button type="button" onclick="hide(this)" class="navbarBtn" data-bs-dismiss="alert">&times;</button>
  </div> 
  {% endif %}
  {% endfor %}
{% endif %}
{% endwith %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- all this javascript does is hide the alert when the button is clicked -->
    <script>
    function hide(item) {
      let alert = item.parentNode;
      alert.style.display = "none";
    }
    function checkDarkMode(darkMode){
      if(darkMode){
        let a = document.getElementsByTagName("a");
        for(let i = 0; i < a.length; i++){
          a[i].classList.add("a")
        }
        let body = document.getElementsByTagName("body");
        for(let i = 0; i < body.length; i++){
          body[i].classList.add("body")
        }
        let h1 = document.getElementsByTagName("h1");
        for(let i = 0; i < h1.length; i++){
          h1[i].classList.add("h1")
        }
        let div = document.getElementsByTagName("div");
        for(let i = 0; i < div.length; i++){
          div[i].classList.add("div");
        }
        let modal_di = document.getElementsByClassName("modal_dialog");
        for(let i = 0; i < modal_di.length; i++){
          modal_di[i].classList.add("mo_di");
        }
        let text_input = document.getElementsByClassName("text-input");
        for(let i = 0; i < text_input.length; i++){
          text_input[i].classList.add("text-input-dark");
        }
        let highlight_email = document.getElementsByClassName("highlight-email-dark");
        for(let i = 0; i < highlight_email.length; i++){
          highlight_email[i].classList.add("highlight-email-dark");
        }
      }
    }

  </script>
  
    {% endblock %}
