<!DOCTYPE html>
{%include "navbar.html" %}
<html>
    <body>
        {% block navbar%}
        {% endblock %}

        <head>
            <title>{{title}}</title>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          
            <!-- Bootstrap CSS -->
           
          </head>
          <body>
          <div class="container">
            <button type="button"></button>
          </div>
    </body>
</html>