<!DOCTYPE html>
{%include "navbar.html" %}
<html>

<body onload="SetPriorityDefault()">
  {% block navbar%}
  {% endblock %}
  <div class="page">
    <!-- Display all todo items and lists on the front end, this will group by list -->
    {% for todo_list in todo_lists %}
    <div style="border-radius: 15px;" class="todoListBox">
      <h1 style="border-bottom: solid; border-width: 1px;">
        <form action="/todo" method="POST">
          {{ update_list_form.updateTodoListId(value = todo_list.id, style="display: none") }}
          {{ update_list_form.listName(value = todo_list.name, style="border: none; text-align: center", onchange="Update(this)") }}
          {{ update_list_form.listSubmitted(style="display:none") }}
        </form>
      </h1>
      <ul>
        {% for todo_item in todo_list.todoItems %}
        {% if todo_item.status %}
        <li style="word-wrap: break-word; padding: 5px; color: grey;">
            {% else %}
        <li style="word-wrap: break-word; padding: 5px">
          {% endif %}
          <form action="/todo" method="POST">
          {{ update_todo_form.todoItemId(value=todo_item.id, style="display:none") }}

          <b>Name:</b> {{ update_todo_form.itemName(value=todo_item.name, style="border:none;
          max-width:-webkit-fill-available", onchange="Update(this)") }}<br>

          <b>Date:</b> {{ update_todo_form.startDate(value=todo_item.startDate, style="border:none;",
          onchange="Update(this)") }} &nbsp;-&nbsp; {{ update_todo_form.dueDate(value=todo_item.dueDate,
          style="border:none;", onchange="Update(this)") }}<br>

          <b>Priority:</b> {{ update_todo_form.updateItemPriority(id=todo_item.priority, style="border:none;",
          onchange="Update(this)") }}<br>

          <b>Status:</b>
          {% if todo_item.status %}
            {{ update_todo_form.status(checked="", onchange="Update(this)") }}  
          {% else %}
            {{ update_todo_form.status(onchange="Update(this)") }}
          {% endif %}

          {{ update_todo_form.itemSubmitted(style="display:none;")}}
          </form>
          <form action="/todo" method="POST">
            {{delete_todo_item.deleteTodoItemId(value=todo_item.id, style="display:none")}}
            {{delete_todo_item.deleteItem(class="btn btn-danger")}}
          </form>
        </li>
        {% endfor %}
      </ul>

      <div style="display:flex; justify-content: space-between;">
        <!-- I store the todolist ID in the button so I can use javascript to access the list ID to know which list is being inserted into -->
        <button id="{{todo_list.id}}" name="todoItemButton" type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#add-todo-modal">Add Todo Item</button>
        <form action="/todo" method="POST">
          {{ delete_todo_list.deleteTodoListId(value=todo_list.id, style="display:none") }}
          {{ delete_todo_list.deleteList(class="btn btn-danger", style="float:right") }}
        </form>
      </div>
    </div>
    {% endfor %}
    <button type="button" class="btn btn-primary curvedBtn" data-toggle="modal" data-target="#add-todo-list-modal">Add
      Todo List</button>

    <!-- Add todo item Modal -->
    <div class="modal" id="add-todo-list-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Todo List</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form id="add-todo-list-form" action="/todo" method="POST">
              <p>
                {{ todo_list_form.listName.label }}: <br>
                {{ todo_list_form.listName() }}<br>
              </p>
              <br>
              <p>
              {{ todo_list_form.submitList() }}
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </p>
            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- Add todo list Modal -->
    <div class="modal" id="add-todo-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Todo Item</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form id="add-todo-item-form" action="/todo" method="POST">
              {{ todo_item_form.todoListId() }}
              <p>
                {{ todo_item_form.itemName.label }}: <br>
                {{ todo_item_form.itemName() }}<br>
              </p>
              <p>
                {{ todo_item_form.startDate.label }}: <br>
                {{ todo_item_form.startDate() }}<br>
              </p>
              <p>
                {{ todo_item_form.dueDate.label }}: <br> 
                {{ todo_item_form.dueDate() }}<br>
              </p>
              <p>
                {{ todo_item_form.newItemPriority.label }}: <br> 
                {{ todo_item_form.newItemPriority() }}<br>
              </p>
              <p>
                {{ todo_item_form.submitItem() }}
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="bottom: 40;">Cancel</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- this looks for the id mentioned above and will auto assign a value to the listID part of the form on the backend -->
<script type="text/javascript">
  $("button[name='todoItemButton']").click(function (e) {
    var listId = e.target.getAttribute("id");
    var todolistIdField = document.getElementById("todoListId");
    todolistIdField.style.display = "none";
    todolistIdField.value = listId;
  });
  function precheck(item, check) {
    if (check) {
      item.setAttribute("checked", "");
    }
  };
  function Update(item) {
    let form = item.parentNode;
    let list_element_items = form.childNodes;
    console.log(list_element_items)
    var submit_indicator;
    for(let i = 0; i < list_element_items.length; i++) {
      if(list_element_items[i].name == "itemSubmitted" | list_element_items[i].name == "listSubmitted") {
        submit_indicator = list_element_items[i];
      }
    }
    submit_indicator.setAttribute("checked", "");
    form.submit();
  };
  function SetPriorityDefault(){
    let priorities = document.getElementsByName("updateItemPriority");

    for(let i = 0; i<priorities.length; i++){
      let priority = priorities[i];
      let options = priority.childNodes;
      for(let j = 0; j<options.length; j++){
        let option = options[j];
        option.removeAttribute("selected")
        if(option.value == priority.id){
          option.setAttribute("selected", "")
        }
      }
    }
  }
</script>

</html>